<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
  <div class="container-fluid ">
      <nav class="navbar navbar-expend-sm navbar-dark bg-dark">
            <a href="#" class="navbar-barnd">
                <img src="{{url_for('static',filename='img/logo-white.png')}}" class="img-rounded" alt="Cinque Terre">
            </a>
            <ul class="navbar-nav ml-auto">
                <li class='nav-item'><a href="{{url_for('login')}}" class="nav-link">Login/SignUp</a> </li>
            </ul>
        </nav>
<br><br>
    <div class="container ">
        <div class="card-deck">
            <div class="card">
    <img src="{{url_for('static',filename='img/Ajmer.jpg')}}" style="height:167px;" class="card-img-top" alt="...">
    <div class="card-body text-center">
            <h5 class="card-title">Ajmer</h5>
            <p class="card-text">Ajmer is a city in the northern Indian state of Rajasthan.</p>

        </div>
                 <div class="card-footer bg-transparent text-center">
                <a href="/cityname/ajmer" class="btn btn-primary stretched-link">View Profile</a>
            </div>
  </div>
            <div class="card">
    <img src="{{url_for('static',filename='img/bangalore.jpg')}}" style="height:167px;" class="card-img-top" alt="...">
    <div class="card-body text-center">
            <h5 class="card-title">Bangalore</h5>
            <p class="card-text">Bengaluru (also called Bangalore) is the capital of India's southern Karnataka state.</p>
        </div>
                <div class="card-footer bg-transparent text-center">
                <a href="/cityname/bangalore" class="btn btn-primary stretched-link">View Profile</a>
            </div>
  </div>

            <div class="card" >
    <img src="{{url_for('static',filename='img/bikaner.jpg')}}" style="height:167px;" class="card-img-top" alt="...">
    <div class="card-body text-center">
            <h5 class="card-title">Bikaner</h5>
            <p class="card-text">Bikaner is a city in the north Indian state of Rajasthan, east of the border with Pakistan.</p>
        </div>
                <div class="card-footer bg-transparent text-center">
                <a href="/cityname/bikaner" class="btn btn-primary stretched-link">View Profile</a>
            </div>
  </div>
  <div class="card" >
    <img src="{{url_for('static',filename='img/jaipur.jpeg')}}" style="height:167px;" class="card-img-top" alt="...">
    <div class="card-body text-center text-center">
            <h5 class="card-title">Jaipur</h5>
            <p class="card-text">Jaipur is the capital of India’s Rajasthan state.</p>
        </div>
      <div class="card-footer bg-transparent text-center">
                <a href="/cityname/jaipur" class="btn btn-primary stretched-link">View Profile</a>
            </div>
  </div>

  <div class="card">
    <img src="{{url_for('static',filename='img/jodhpur.jpg')}}" style="height:167px;" class="card-img-top" alt="...">
    <div class="card-body text-center">
            <h5 class="card-title">Jodhpur</h5>
            <p class="card-text">Jodhpur is a city in the Thar Desert of the northwest Indian state of Rajasthan.</p>

        </div>
      <div class="card-footer bg-transparent text-center">
                <a href="/cityname/jodhpur" class="btn btn-primary stretched-link">View Profile</a>
            </div>
  </div>
</div>
    </div>







<!--<div class="bs-example">-->
<!--    <div class="card" style="width: 300px;">-->
<!--        <img src="{{url_for('static',filename='img/jaipur.jpeg')}}" class="card-img-top" alt="...">-->
<!--        <div class="card-body text-center">-->
<!--            <h5 class="card-title">Jaipur</h5>-->
<!--            <p class="card-text">Jaipur is the capital of India’s Rajasthan state.</p>-->
<!--            <a href="#" class="btn btn-primary stretched-link">View Profile</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--    </div>-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>